.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
}

.custom h2 {
    text-align: center;
    max-width: 95%;
}

.custom form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    max-width: 90%;
}

.custom form input {
    padding: 4px 7px;
    font-size: 12px;
    border: 2px solid var(--color-stroke);
    border-radius: 5px;
}

.custom form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border: 2px solid var(--color-stroke);
    border-radius: 5px;
    background-color: var(--color-button);
}

.custom .buttons-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom .buttons-edit div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom .buttons-edit .delete-all {
    color: var(--color-red);
    border: 2px solid var(--color-red);
    max-width: 100%;
}

.custom .buttons-edit .delete-all:hover {
    color: var(--color-main);
}

.custom .buttons-edit .delete-all::before {
    background: var(--color-red);
}

.custom .buttons-edit div .save-cookie {
    margin-right: 10px;
}

.custom .buttons-edit div .not-save::before {
    background: var(--color-highlight);
    z-index: 10;
    top: 0;
    right: 0;
    left: auto;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transform: none;
    transition: none;
}

.custom .buttons-edit div .delete-cookie {
    margin-right: 10px;
}

.custom .buttons-edit div .not-save:hover {
    color: var(--color-button-text);
}

.custom .buttons-edit div .not-save::after {
    z-index: -100;
}

.custom .pos {
    position: fixed;
    bottom: 100px;
    left: 5%;
}

.custom .pos .navigate-to-create-list {
    position: relative;
    border-radius: 50px;
    border: 3px solid var(--color-stroke);
    background: var(--color-main);
    width: 55px;
    transition: 500ms;
}

.custom .pos .navigate-to-create-list:hover {
    width: 100%;
}

.custom .pos .navigate-to-create-list a {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transition: 500ms;
}

.custom .pos .navigate-to-create-list a p {
    font-size: 25px;
    font-weight: 800;
    color: var(--color-headline);
    white-space: nowrap;
    margin-right: 7px;
}

.custom .pos .navigate-to-create-list a svg {
    stroke: var(--color-headline);
}

.custom .pos .navigate-to-create-list a .create-list {
    padding: 3px 7px 2.5px 7px;
    color: var(--color-stroke);
    transition: transform 500ms;
}

.custom .pos .navigate-to-create-list:hover a .create-list {
    transform: rotate(90deg);
}

.custom .drawLots {
    margin-top: 20px;
    margin-bottom: 15vh;
}

.custom input#file {
    display: none;
}

.custom label#file {
    position: fixed;
    bottom: 100px;
    right: 5%;
    padding: 10px 15px 7px 10px;
    background: var(--color-stroke);
    border-radius: 1000px;
    cursor: pointer;
    color: var(--color-paragraph);
    transition: 300ms cubic-bezier(0.8,-1.03, 0.3, 2.09);
}

.custom label#file:hover {
    transform: scale(1.2);
}

.custom label#file svg {
    width: 30px;
}

.custom label#file svg path {
    stroke: var(--color-background);
}

.custom label#file svg path#triangle {
    fill: var(--color-background);
}

.custom .container-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    transition: 800ms;
}

.custom .container-images .images {
    position: relative;
    width: 50%;
    transition: 800ms;
}

.custom .container-images .images .machine_a_papier {
    width: 50%;
}

.custom .container-images .images .reflet {
    position: absolute;
    top: 17%;
    left: 90%;
    width: 6%;
    z-index: 100;
}

.custom .container-images .images .eyes {
    position: absolute;
    top: 64%;
    left: 16%;
    width: 16%;
    z-index: 100;
    transition: 200ms;
}

.custom .container-images .images .canard {
    margin-right: 8%;
    width: 42%;
}

.custom .container-images .images .papers {
    width: 100%;
    height: 100%;
}

.custom .container-images .images .papers .paper-result {
    width: 10%;
    position: absolute;
    top: 76%;
    left: 70%;
    transform: scale(0);
    transition: transform 800ms;
}

.custom .container-images .images .papers .paper {
    width: 10%;
    position: absolute;
}

.custom .container-images .images .papers .paper1 {
    top: 40%;
    left: 57%;
}

.custom .container-images .images .papers .paper2 {
    top: 40%;
    left: 60%;
}

.custom .container-images .images .papers .paper3 {
    top: 40%;
    left: 64%;
}

.custom .container-images .images .papers .paper4 {
    top: 40%;
    left: 75%;
}

.custom .container-images .images .papers .paper5 {
    top: 40%;
    left: 80%;
}

.custom h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 4px 7px;
    font-size: 100%;
    text-align: center;
    max-width: 95%;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
    transition: transform 500ms;
    color: var(--color-stroke);
}

.custom h3 img {
    max-width: 200px;
    max-height: 150px;
    margin-right: 15px;
}

.custom h3 span {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    max-width: 90%;
    margin-right: 10px;
}

.custom .after-animate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15vh;
    z-index: 1000;
    max-width: 90%;
}

.custom .after-animate button {
    margin: 10px 0;
    font-size: 1.1rem;
    max-width: 100%;
}

.custom .after-animate button span {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    max-width: 100%;
}

@keyframes paper1 {
    0% {
        top: 40%;
        left: 57%;
    }
    10% {
        top: 30%;
        left: 55%;
    }
    20% {
        top: 20%;
        left: 65%;
    }
    30% {
        top: 30%;
        left: 80%;
    }
    40% {
        top: 40%;
        left: 57%;
    }
    50% {
        top: 30%;
        left: 55%;
    }
    60% {
        top: 20%;
        left: 65%;
    }
    70% {
        top: 30%;
        left: 80%;
    }
    80% {
        top: 40%;
        left: 57%;
    }
    100% {
        top: 40%;
        left: 57%;
    }
}

@keyframes paper2 {
    0% {
        top: 40%;
        left: 60%;
    }
    10% {
        top: 35%;
        left: 57%;
    }
    20% {
        top: 15%;
        left: 58%;
    }
    30% {
        top: 15%;
        left: 68%;
    }
    40% {
        top: 25%;
        left: 85%;
    }
    50% {
        top: 40%;
        left: 60%;
    }
    60% {
        top: 35%;
        left: 57%;
    }
    70% {
        top: 15%;
        left: 58%;
    }
    80% {
        top: 15%;
        left: 68%;
    }
    90% {
        top: 25%;
        left: 85%;
    }
    100% {
        top: 40%;
        left: 60%;
    }
}

@keyframes paper3 {
    0% {
        top: 40%;
        left: 64%;
    }
    10% {
        top: 35%;
        left: 57%;
    }
    20% {
        top: 30%;
        left: 55%;
    }
    30% {
        top: 15%;
        left: 58%;
    }
    40% {
        top: 40%;
        left: 80%;
    }
    50% {
        top: 40%;
        left: 64%;
    }
    60% {
        top: 35%;
        left: 57%;
    }
    70% {
        top: 30%;
        left: 55%;
    }
    80% {
        top: 15%;
        left: 58%;
    }
    90% {
        top: 40%;
        left: 80%;
    }
    100% {
        top: 40%;
        left: 64%;
    }
}

@keyframes paper4 {
    0% {
        top: 40%;
        left: 75%;
    }
    10% {
        top: 40%;
        left: 59%;
    }
    20% {
        top: 18%;
        left: 60%;
    }
    30% {
        top: 30%;
        left: 77%;
    }
    40% {
        top: 40%;
        left: 75%;
    }
    50% {
        top: 40%;
        left: 59%;
    }
    60% {
        top: 18%;
        left: 60%;
    }
    70% {
        top: 30%;
        left: 77%;
    }
    100% {
        top: 40%;
        left: 75%;
    }
}

@keyframes paper5 {
    0% {
        top: 40%;
        left: 80%;
    }
    10% {
        top: 40%;
        left: 60%;
    }
    20% {
        top: 40%;
        left: 55%;
    }
    30% {
        top: 30%;
        left: 55%;
    }
    40% {
        top: 25%;
        left: 63%;
    }
    50% {
        top: 30%;
        left: 84%;
    }
    60% {
        top: 40%;
        left: 80%;
    }
    70% {
        top: 30%;
        left: 55%;
    }
    80% {
        top: 25%;
        left: 63%;
    }
    90% {
        top: 30%;
        left: 84%;
    }
    100% {
        top: 40%;
        left: 80%;
    }
}

@media screen and (min-width: 800px) {
    .custom .pos {
        bottom: 50px;
    }
    .custom .container-images .images {
        width: 50% ;
    }
    .custom label#file {
        bottom: 50px;
    }
}

@media screen and (min-width: 755px) {
    .custom .after-animate  {
        flex-direction: row;
    }
    .custom .after-animate button {
        margin: 5px 10px;
    }
}

@media screen and (min-width: 360px) {
    .custom form input {
        padding: 5px 10px;
        font-size: 15px;
    }

    .custom form button {
        height: 37px;
        width: 37px;
    }

    .custom form button {
        margin-left: 20px;
    }
}